## **1. Import libraries**

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LogisticRegression

## **2. Load the data set**

In [ ]:
df1 = pd.read_csv('acetylcholinesterase_pIC50_pubchem_fp_revised.csv')
dict={'class' : 'bioactivity_class'}
df1.rename(columns=dict,inplace= True)
df1

,Unnamed: 0,PubchemFP0,PubchemFP1,PubchemFP2,PubchemFP3,PubchemFP4,PubchemFP5,PubchemFP6,PubchemFP7,PubchemFP8,...,PubchemFP873,PubchemFP874,PubchemFP875,PubchemFP876,PubchemFP877,PubchemFP878,PubchemFP879,PubchemFP880,pIC50,bioactivity_class
0,0,1,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,6.124939,active
1,1,1,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,7.000000,active
2,2,1,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,4.301030,inactive
3,3,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,6.522879,active
4,4,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,6.096910,active
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4690,4690,1,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,5.612610,intermediate
4691,4691,1,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,5.595166,intermediate
4692,4692,1,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,5.419075,intermediate
4693,4693,1,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,5.460924,intermediate
4694,4694,1,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,5.555955,intermediate

In [ ]:
df1.describe()

,Unnamed: 0,PubchemFP0,PubchemFP1,PubchemFP2,PubchemFP3,PubchemFP4,PubchemFP5,PubchemFP6,PubchemFP7,PubchemFP8,...,PubchemFP872,PubchemFP873,PubchemFP874,PubchemFP875,PubchemFP876,PubchemFP877,PubchemFP878,PubchemFP879,PubchemFP880,pIC50
count,4695.000000,4695.000000,4695.000000,4695.000000,4695.000000,4695.0,4695.0,4695.0,4695.0,4695.0,...,4695.000000,4695.0,4695.0,4695.000000,4695.0,4695.0,4695.0,4695.0,4695.0,4695.000000
mean,2347.000000,0.999787,0.993610,0.897551,0.286901,0.0,0.0,0.0,0.0,0.0,...,0.000639,0.0,0.0,0.002556,0.0,0.0,0.0,0.0,0.0,5.820864
std,1355.474087,0.014594,0.079689,0.303271,0.452363,0.0,0.0,0.0,0.0,0.0,...,0.025273,0.0,0.0,0.050497,0.0,0.0,0.0,0.0,0.0,1.552813
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,1.000000
25%,1173.500000,1.000000,1.000000,1.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,4.756219
50%,2347.000000,1.000000,1.000000,1.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,5.648590
75%,3520.500000,1.000000,1.000000,1.000000,1.000000,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,6.903090
max,4694.000000,1.000000,1.000000,1.000000,1.000000,0.0,0.0,0.0,0.0,0.0,...,1.000000,0.0,0.0,1.000000,0.0,0.0,0.0,0.0,0.0,11.221849

In [ ]:
df1.select_dtypes(include=[float]).astype(int)

      pIC50
0         6
1         7
2         4
3         6
4         6
...     ...
4690      5
4691      5
4692      5
4693      5
4694      5

[4695 rows x 1 columns]

In [ ]:
df1 = df1.drop(['Unnamed: 0'], axis=1)
df1

,PubchemFP0,PubchemFP1,PubchemFP2,PubchemFP3,PubchemFP4,PubchemFP5,PubchemFP6,PubchemFP7,PubchemFP8,PubchemFP9,...,PubchemFP873,PubchemFP874,PubchemFP875,PubchemFP876,PubchemFP877,PubchemFP878,PubchemFP879,PubchemFP880,pIC50,bioactivity_class
0,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,6.124939,active
1,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,7.000000,active
2,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,4.301030,inactive
3,1,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,6.522879,active
4,1,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,6.096910,active
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4690,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,5.612610,intermediate
4691,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,5.595166,intermediate
4692,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,5.419075,intermediate
4693,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,5.460924,intermediate
4694,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,5.555955,intermediate

In [ ]:
df1.isna().sum().sum()

0

In [ ]:
# df1 = df1.drop(4087)
df1.isna().sum().sum()

0

This is the final representation of the original dataset

In [ ]:
df1

,PubchemFP0,PubchemFP1,PubchemFP2,PubchemFP3,PubchemFP4,PubchemFP5,PubchemFP6,PubchemFP7,PubchemFP8,PubchemFP9,...,PubchemFP873,PubchemFP874,PubchemFP875,PubchemFP876,PubchemFP877,PubchemFP878,PubchemFP879,PubchemFP880,pIC50,bioactivity_class
0,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,6.124939,active
1,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,7.000000,active
2,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,4.301030,inactive
3,1,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,6.522879,active
4,1,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,6.096910,active
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4690,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,5.612610,intermediate
4691,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,5.595166,intermediate
4692,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,5.419075,intermediate
4693,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,5.460924,intermediate
4694,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,5.555955,intermediate

In [ ]:
df1['bioactivity_class'] = df1['bioactivity_class'].replace('active',1)
df1['bioactivity_class'] = df1['bioactivity_class'].replace('inactive',0)
df1['bioactivity_class'] = df1['bioactivity_class'].replace('intermediate',2)
df1['bioactivity_class']

0       1
1       1
2       0
3       1
4       1
       ..
4690    2
4691    2
4692    2
4693    2
4694    2
Name: bioactivity_class, Length: 4695, dtype: int64

#No Intermediate Data

Case 1: We change the intermediate values to be positive or negative

In [ ]:
df2 = df1[df1['bioactivity_class']==1]
df2['pIC50'].describe()

count    2039.000000
mean        7.259670
std         0.969214
min         6.000000
25%         6.505151
50%         7.049635
75%         7.800382
max        11.221849
Name: pIC50, dtype: float64

Case 2: We remove the intermediate values entirely

In [ ]:
filtered_df = df1[df1['bioactivity_class'] != 2]
# filtered_df['bioactivity_class'] = filtered_df['bioactivity_class'].replace('active',1)
# filtered_df['bioactivity_class'] = filtered_df['bioactivity_class'].replace('inactive',0)
filtered_df = filtered_df.reset_index(drop=True)
filtered_df

,PubchemFP0,PubchemFP1,PubchemFP2,PubchemFP3,PubchemFP4,PubchemFP5,PubchemFP6,PubchemFP7,PubchemFP8,PubchemFP9,...,PubchemFP873,PubchemFP874,PubchemFP875,PubchemFP876,PubchemFP877,PubchemFP878,PubchemFP879,PubchemFP880,pIC50,bioactivity_class
0,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,6.124939,1
1,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,7.000000,1
2,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,4.301030,0
3,1,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,6.522879,1
4,1,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,6.096910,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3544,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,3.015428,0
3545,1,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,2.813467,0
3546,1,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,3.476904,0
3547,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,6.124939,1
3548,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,6.008774,1

#Dataset test-train split

In [ ]:
X = df1.drop(['bioactivity_class'], axis=1)
X

,PubchemFP0,PubchemFP1,PubchemFP2,PubchemFP3,PubchemFP4,PubchemFP5,PubchemFP6,PubchemFP7,PubchemFP8,PubchemFP9,...,PubchemFP872,PubchemFP873,PubchemFP874,PubchemFP875,PubchemFP876,PubchemFP877,PubchemFP878,PubchemFP879,PubchemFP880,pIC50
0,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,6.124939
1,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,7.000000
2,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,4.301030
3,1,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,6.522879
4,1,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,6.096910
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4690,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,5.612610
4691,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,5.595166
4692,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,5.419075
4693,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,5.460924
4694,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,5.555955

In [ ]:
# X1 = df1.drop(['pIC50'], axis=1)
X1 = df1.drop(['bioactivity_class','pIC50'], axis=1) #Case2
X1

,PubchemFP0,PubchemFP1,PubchemFP2,PubchemFP3,PubchemFP4,PubchemFP5,PubchemFP6,PubchemFP7,PubchemFP8,PubchemFP9,...,PubchemFP871,PubchemFP872,PubchemFP873,PubchemFP874,PubchemFP875,PubchemFP876,PubchemFP877,PubchemFP878,PubchemFP879,PubchemFP880
0,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,1,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,1,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4690,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4691,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4692,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4693,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4694,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
X2 = filtered_df.drop(['bioactivity_class','pIC50'], axis=1) #Case3
X2

,PubchemFP0,PubchemFP1,PubchemFP2,PubchemFP3,PubchemFP4,PubchemFP5,PubchemFP6,PubchemFP7,PubchemFP8,PubchemFP9,...,PubchemFP871,PubchemFP872,PubchemFP873,PubchemFP874,PubchemFP875,PubchemFP876,PubchemFP877,PubchemFP878,PubchemFP879,PubchemFP880
0,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,1,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,1,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3544,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3545,1,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3546,1,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3547,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3548,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
y = df1.loc[:, ['bioactivity_class']]
y

      bioactivity_class
0                     1
1                     1
2                     0
3                     1
4                     1
...                 ...
4690                  2
4691                  2
4692                  2
4693                  2
4694                  2

[4695 rows x 1 columns]

In [ ]:
y1 = filtered_df.loc[:,['bioactivity_class']].astype(int) #Case3
y1

      bioactivity_class
0                     1
1                     1
2                     0
3                     1
4                     1
...                 ...
3544                  0
3545                  0
3546                  0
3547                  1
3548                  1

[3549 rows x 1 columns]

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0, train_size = .80)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X1, y, random_state=0, train_size = .80) #Case2

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X2, y1, random_state=0, train_size = .80) #Case3

In [ ]:
X_test.shape, y_train.shape, X_train.shape

((710, 881), (2839, 1), (2839, 881))

In [ ]:
y_train.describe()

       bioactivity_class
count        3756.000000
mean            0.914004
std             0.741974
min             0.000000
25%             0.000000
50%             1.000000
75%             1.000000
max             2.000000

#New model

For the new models we will be using optimised versions of the ckassification techniques we used before. For this purpose we will be using AdaBoost and XGBoost for further classification.

In [ ]:
import xgboost as xgb
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier

#AdaBoost

In [ ]:
base_estimator = DecisionTreeClassifier(max_depth=7)

model = AdaBoostClassifier(base_estimator=base_estimator, n_estimators=200, learning_rate=0.1)

model.fit(X_train, y_train)

y_pred = model.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

/usr/local/lib/python3.9/dist-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.9/dist-packages/sklearn/ensemble/_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(

Accuracy: 0.8112676056338028

In [ ]:
report = classification_report(y_test, y_pred)
print(report)

              precision    recall  f1-score   support

           0       0.68      0.71      0.69       301
           1       0.70      0.83      0.76       378
           2       0.71      0.49      0.58       260

    accuracy                           0.70       939
   macro avg       0.70      0.68      0.68       939
weighted avg       0.70      0.70      0.69       939

#XGBoost

In [ ]:
dtrain = xgb.DMatrix(X_train, label=y_train)
dtest = xgb.DMatrix(X_test, label=y_test)

params = {
    'max_depth': 7,
    'eta': 0.1,
    'objective': 'multi:softmax',
    'num_class': 3
}

model = xgb.train(params, dtrain, num_boost_round=100)

y_pred = model.predict(dtest)
y_pred = [round(value) for value in y_pred]

accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy:.4f}")

Accuracy: 0.7167

In [ ]:
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy}")

Accuracy: 0.7167199148029819

In [ ]:
report = classification_report(y_test, y_pred)
print(report)

              precision    recall  f1-score   support

           0       0.67      0.75      0.71       301
           1       0.74      0.87      0.80       378
           2       0.76      0.46      0.57       260

    accuracy                           0.72       939
   macro avg       0.72      0.69      0.69       939
weighted avg       0.72      0.72      0.71       939

#XGB without intermediate

In [ ]:
dtrain = xgb.DMatrix(X_train, label=y_train)
dtest = xgb.DMatrix(X_test, label=y_test)

params = {
    'max_depth': 5,
    'eta': 0.05,
    'objective': 'binary:logistic',
    'eval_metric': 'logloss'
}

model = xgb.train(params, dtrain, num_boost_round=100)

y_pred = model.predict(dtest)
y_pred = [round(value) for value in y_pred]

accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy:.4f}")

Accuracy: 0.8408

In [ ]:
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy}")

Accuracy: 0.8408450704225352

In [ ]:
report = classification_report(y_test, y_pred)
print(report)

              precision    recall  f1-score   support

           0       0.82      0.79      0.80       294
           1       0.85      0.88      0.87       416

    accuracy                           0.84       710
   macro avg       0.84      0.83      0.84       710
weighted avg       0.84      0.84      0.84       710